.App-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.header-title{

}


.header-button{
  width: 75px;
  border: 1px solid black;
  height: 50px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.header-button:hover{
  background-color: #ccc;


}


#invisibleContent{
  width: 75px;
}
