.navBarButton {
    border: 1px solid #edf0ed;
    padding: 20px;
    background: #ccc;
    width: 5  0px;
    border-radius: 50%;
}
#navBarContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 82%;
  margin: 15px auto;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}
.navBarButton:hover{
background: #ffffff;
}

.navBarButtonSelected{
  background: #ff8787;
  border: 1px solid #edf0ed;
  padding: 20px;
  border-radius: 50%;
}
button:focus {outline:0;}
